@charset "utf-8";

/* Responsiveness */
body, header, footer {
  width: 100% !important;
}

@media screen and (max-width: 400px) {
  header {
    width: 100% !important;
  }

  #title h1 {
    padding-top: 0.5em !important; 
  }

  .leaflet-touch .leaflet-bar a {
    width: 48px !important;
    height: 48px !important;
    line-height: 45px !important;
  }

  div.leaflet-control-attribution {
    width: 100%;
    text-align: center !important;
    font-size: 15px !important;
  }

  .mapboxgl-ctrl-logo {
    padding-bottom: 3em;
    z-index: 1000;
  }

  .mapbox-improve-map {
    display: none !important;
    padding-bottom: 5em !important;
  }

  .mapboxgl-ctrl-attrib.mapboxgl-compact::after {
    padding-bottom: 5em !important;
  }

  div.filter-options {
    height: 160px;
    text-align: center !important;
    padding-top: 1em;
    margin-left: 0 !important;
  }

  #filter-results {
    font-size: 25px !important;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    margin: 0 !important;
  }

  #neighborhoods-select {
    width: 250px !important;
    font-size: 20px !important;
    text-align: center !important;
  }

  #neighborhoods-select option {
    font-size: 20px !important;
  }

  #cuisines-select {
    width: 250px !important;
    font-size: 20px !important;
    text-align: center !important;
  }

  #restaurants-list {
    padding: 0 !important;
    text-align: center !important;
  }

  #restaurants-list li {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #restaurants-list > li > h1 {
    font-size: 30px !important;
    text-align: center !important;
  }

  #restaurants-list > li > p {
    font-size: 23px !important;
  }

  #restaurants-list > li > a {
    font-size: 25px !important;
    text-align: center !important;
    height: 48px !important;
    padding-top: 1.2em;
    width: 80% !important;
  }

  #maincontent {
    flex-direction: column !important;
    align-content: flex-start !important;
  }

  #breadcrumb {
    width: 100% !important;
    height: 20px !important;
    z-index: 1000 !important;
  }

  #map-container {
    width: 100% !important;
    height: 100% !important;
    max-height: 350px !important;
    margin-top: 30px !important;
  }

  .leaflet-top, .leaflet-bottom {
    padding-top: 1em !important;
    z-index: 900 !important;
  }

  #restaurant-container {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center;
    z-index: 1;
  }

  #restaurant-name,
  #restaurant-cuisine,
  #restaurant-address,
  #restaurant-hours {
    width: 90%;
    margin-left: 15px;
    text-align: center !important;
  }

  #reviews-container {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 1;
  }

  #reviews-container h2 {
    width: 90%;
    margin-left: 15px;
    text-align: center !important;
  }

  #restaurant-img {
    display: flex;
    max-width: 90% !important;
    height: 100% !important;
    margin-left: 15px;
  }

  #footer {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 401px) and (max-width: 750px) {
  header {
    width: 100% !important;
  }

  #title h1 {
    padding-top: 1em !important; 
  }

  #filter-results {
    font-size: 18px !important;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    margin: 0 !important;
    width: 25% !important;
    float: left !important;
  }

  #filter-results div {
    width: 30% !important;
    float: left !important;
  }

  .filter-options select {
    width: 30% !important;
    float: left !important;
  }

  .filter-options {
    height: 57px !important;
  }

  #restaurants-list {
    text-align: center !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  #restaurants-list li {
    max-width: 35% !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
  }

  #restaurants-list > li > h1 {
    font-size: 22px !important;
    text-align: center !important;
  }

  #breadcrumb {
    width: 100% !important;
    height: 20px !important;
    z-index: 1000 !important;
  }

  #map-container {
    width: 100% !important;
    height: 100% !important;
    max-height: 350px !important;
    margin-top: 30px !important;
  }

  .leaflet-top, .leaflet-bottom {
    padding-top: 1em !important;
    z-index: 900 !important;
  }

  #restaurant-container {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center;
    z-index: 1;
  }

  #restaurant-name,
  #restaurant-cuisine,
  #restaurant-address,
  #restaurant-hours {
    width: 90%;
    margin-left: 25px;
    text-align: center !important;
  }

  #reviews-container {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 1;
  }

  #reviews-container h2 {
    width: 90%;
    margin-left: 25px;
    text-align: center !important;
  }

  #reviews-list li {
    width: 90%;
    margin-left: 10px;
  }

  #restaurant-img {
    display: flex;
    width: 90% !important;
    max-width: 100% !important;
    margin-left: 25px;
  }

  #footer {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 751px) and (max-width: 1200px) {
  header {
    width: 100% !important;
  }

  #title h1 {
    padding-top: 1em !important; 
  }

  #filter-results {
    font-size: 18px !important;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    margin: 0 !important;
    width: 25% !important;
    float: left !important;
  }

  #filter-results div {
    width: 30% !important;
    float: left !important;
  }

  .filter-options select {
    width: 30% !important;
    max-width: 250px !important;
    float: left !important;
  }

  .filter-options {
    height: 57px !important;
  }

  #restaurants-list {
    order: 1 !important;
    text-align: center !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  #restaurants-list li {
    max-width: 40% !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
  }

  #restaurants-list > li > h1 {
    font-size: 22px !important;
    text-align: center !important;
  }

  #map {
    display: block;
    width: 100% !important;
  }

  #breadcrumb {
    width: 100% !important;
    height: 20px !important;
    z-index: 1000 !important;
  }

  #map-container {
    width: 100% !important;
    /*order: 2 !important;*/
    height: 100% !important;
    max-height: 400px !important;
    margin-top: 30px !important;
  }

  .leaflet-top, .leaflet-bottom {
    padding-top: 1em !important;
    z-index: 900 !important;
  }

  #restaurant-container {
    width: 50% !important;
    order: 1 !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center;
    z-index: 1;
  }

  #restaurant-name,
  #restaurant-cuisine,
  #restaurant-address,
  #restaurant-hours {
    width: 90%;
    margin-left: 25px;
    text-align: center !important;
  }

  #reviews-container {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    order: 3 !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 1;
  }

  #reviews-container h2 {
    width: 90%;
    margin-left: 25px;
    text-align: center !important;
  }

  #reviews-list li {
    width: 90%;
    margin-left: 10px;
  }

  #restaurant-img {
    display: flex;
    width: 90% !important;
    max-width: 100% !important;
    margin-left: 25px;
  }

  #footer {
    position: relative !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 1201px) {
  header {
    width: 100% !important;
  }

  #title h1 {
    padding-top: 1em !important; 
  }

  #filter-results {
    font-size: 18px !important;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    margin: 0 !important;
    width: 25% !important;
    float: left !important;
  }

  #filter-results div {
    width: 30% !important;
    float: left !important;
  }

  .filter-options select {
    width: 30% !important;
    max-width: 250px !important;
    float: left !important;
  }

  .filter-options {
    height: 57px !important;
  }

  #restaurants-list {
    text-align: center !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }

  #restaurants-list li {
    max-width: 40% !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
  }

  #restaurants-list > li > h1 {
    font-size: 22px !important;
    text-align: center !important;
  }

  #breadcrumb {
    width: 100% !important;
    height: 20px !important;
    z-index: 1000 !important;
  }

  #map-container {
    width: 100% !important;
    /*order: 2 !important;*/
    height: 100% !important;
    max-height: 400px !important;
    margin-top: 30px !important;
  }

  .leaflet-top, .leaflet-bottom {
    padding-top: 1em !important;
    z-index: 900 !important;
  }

  #restaurant-container {
    width: 50% !important;
    order: 1 !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    justify-content: center;
    z-index: 1;
  }

  #restaurant-name,
  #restaurant-cuisine,
  #restaurant-address,
  #restaurant-hours {
    width: 90%;
    margin-left: 25px;
    text-align: center !important;
  }

  #reviews-container {
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
    order: 3 !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 1;
  }

  #reviews-container h2 {
    width: 90%;
    margin-left: 25px;
    text-align: center !important;
  }

  #reviews-list li {
    width: 90%;
    margin-left: 10px;
  }

  #restaurant-img {
    display: flex;
    width: 90% !important;
    max-width: 100% !important;
    margin-left: 25px;
  }

  #footer {
    position: relative !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}